* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: antiquewhite;
    font-family: 'Space Grotesk', sans-serif;
    max-width: 1599px;
}
.navbar {
    width: 100%;
    height: 70px;
    box-shadow: 0 3px 2px  rgb(65, 68, 36);
}

.navbar .container {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-menu {
    list-style-type: none;
}

.navbar-menu li {
    display: inline-block;
}
.navbar-menu li a {
    display: inline-block;
    color: black;
    opacity: 0.6;
    text-decoration: none;
    padding: 10px;
    transition: all 0.07s ease-in-out;
    justify-content: center;
    align-items: center;

}
.navbar-menu li a:hover {
    opacity: 1;
}
.navbar-wrap {
    display: flex;
    flex-flow: row nowrap;
}
.search {
    margin-left: 30px;
    padding: 10px;
    margin-top: 15px;
    color: black;
    opacity: 0.7;
}
 a.search:hover {
    color: black;
    transition: all 07s ease-in-out;
}
.navbar-brand {
    font-weight: 700px;
    font-size: 26px;
    text-decoration: none;
    color: black;
    transition: all 0.07s ease-in-out;
}

.navbar-brand:hover {
    color: coral;
}
header {
  background-image: url(./IMAGE.png);
  background-repeat: no-repeat;
  width: 1500px;
  height: 1000px;
  color: white;
  margin-left: 60px;
  margin-top: 10px;

  
}
header h1 {
    margin-left: 60px;
    width: 350px;
    font-size: 80px;
    display: inline-block;

}
span a {
    background-color: #FFDB5B;
    width: 295px;
    height: 57px;
    border-radius: 30px;
    font-weight: 500px;
    padding-left: 35px;
    color: black;
    list-style-type: none;
    margin-top: 150px;
    margin-left: 50px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.stick {
    background-color: #F1EBE4;
    width: 128px;
    height: 128px;
    border-radius: 128px;
    margin-left: 1180px;
    border: 2px solid black;
    padding-left: 50px;
    padding-top: 30px;
    margin-top: -20px;

}
p {
    color: black;
    font-size: 64px;
    margin-top: -180px;
}
.text {
    width: 1263px;
    height: 332px;
    margin-left: 50px;

}
.container2 {
    background-color: #F1EBE4;
    height: 751px;
    box-shadow: 1px 0 5px rgb(68, 73, 50);
}
.container2 h1 {
    padding-top: 70px;
    margin-left: 50px;
    font-weight: 100;
    font-size: 50px;
    display: inline-block;
}
.container2 img {
    margin-top: -10px;
    margin-left: 100px;
}
.container2 h2 {
    margin-top: -30px;
    margin-left: 50px;
    font-weight: 100;
    font-size: 50px;

}
.img2 {
    display: flex;
}
.card {
  text-align: start;
  border: 3px solid black;
  width: 330px;
  height: 430px;
  margin-right: -350px;
  margin-top: -650px;
  margin-left: 400px;
}
.img2 p {
    font-size: 20;
    margin-top: 25px;

    display: flex;
    justify-content: space-around;
    align-items: flex-end;
} 
.img2 span {
    font-size: 20;
    
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
.span1 {
    text-decoration: line-through;
}
.nav-ion {
    color: black;
    margin-top: -50px;
    margin-left: 1260px;

    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
.cercle {
    border: 1px solid black;
    width: 96px;
    height: 96px;
    border-radius: 1600px;
    background-color: #FF9B3D;
    color: black;
    padding-left: 27px;
    padding-top: 38px;
    margin-top: -650px;
    margin-right: 0px;
    margin-left: -360px;
}

