* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: antiquewhite;
    font-family: 'Space Grotesk', sans-serif;
}
.navbar {
    width: 100%;
    height: 70px;
    box-shadow: 0 3px 2px  rgb(65, 68, 36);
}

.navbar .container {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-menu {
    list-style-type: none;
}

.navbar-menu li {
    display: inline-block;
}
.navbar-menu li a {
    display: inline-block;
    color: black;
    opacity: 0.6;
    text-decoration: none;
    padding: 10px;
    transition: all 0.07s ease-in-out;
    justify-content: center;
    align-items: center;

}
.navbar-menu li a:hover {
    opacity: 1;
}
.navbar-wrap {
    display: flex;
    flex-flow: row nowrap;
}
.search {
    margin-left: 30px;
    padding: 10px;
    margin-top: 15px;
    color: black;
    opacity: 0.7;
}
 a.search:hover {
    color: black;
    transition: all 07s ease-in-out;
}
.navbar-brand {
    font-weight: 700px;
    font-size: 26px;
    text-decoration: none;
    color: black;
    transition: all 0.07s ease-in-out;
}

.navbar-brand:hover {
    color: coral;
}
header {
  background-image: url(./IMAGE.png);
  background-repeat: no-repeat;
  width: 1500px;
  height: 1000px;
  color: white;
  margin-left: 60px;
  margin-top: 10px;

  
}
header h1 {
    margin-left: 60px;
    width: 350px;
    font-size: 80px;
    display: inline-block;

}
span a {
    background-color: #FFDB5B;
    width: 295px;
    height: 57px;
    border-radius: 30px;
    font-weight: 500px;
    padding-left: 35px;
    color: black;
    list-style-type: none;
    margin-top: 150px;
    margin-left: 50px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.stick {
    background-color: #F1EBE4;
    width: 128px;
    height: 128px;
    border-radius: 128px;
    margin-left: 1180px;
    border: 2px solid black;
    padding-left: 50px;
    padding-top: 30px;
    margin-top: -20px;

}
p {
    color: black;
    font-size: 64px;
    margin-top: -180px;
}
.text {
    width: 1263px;
    height: 332px;
    margin-left: 50px;

}